<main>
    <div style="background-color: #8D8C8C;">
        <input type="checkbox" id="check1" name="check1">
        <nav class="container nav1">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/product">Product</a></li>
        <li><a href="/service">Service</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
        <label for="check1" class="checkbtn1">
            <i class="fa fa-bars"></i>
            <span class="category-text">CATEGORIES</span>
        </label>
    </div>
    <div class="container path">
        <a class="logo" href="http://localhost:5000/">
            <b>SIMPLE</b>
        </a>
        <a class="pathlast" href="#">
            Shopping Cart
        </a>
    </div>


    <div class="container tbheader">
        <div class="header1">Product </div>
        <div>Unit Price</div>
        <div>Quantity</div>
        <div>Total price</div>
        <div></div>
    </div>

    <table class="container cart">
        <tbody>
        </tbody>
    </table>

    <div class="container voucher">
        <div></div>
        <div class="checkout">
            <img src="/image/voucher.png" alt=""> <b>Platform Voucher</b>
        </div>
        <div class="back">
            <a href="#">Select or Enter code</a>
        </div>
    </div>
    <div class="container DueForOder"><strong class="FinalTotal"><strong>Total amount due for the order </strong> </div>

    <div class="container btncheckout">
        <div></div>
        <div class="checkout">
            <a href="#" id="place-order">Check out</a>
        </div>
        <div class="back">
            <a href="/">Continue Shopping</a>
        </div>
    </div>

</main>
<script>
    let cart = JSON.parse(localStorage.getItem("cart")) || [];
    const placeOrderButton = document.getElementById("place-order");
    const productsWithoutImages = cart.map(({ id, name, price, quantity }) => ({ id, name, price, quantity }));
    let address = ""
    let iduser = ""
    let nameUser = ""
    axios.get("/customer/address")
        .then((response) => {
            address = response.data.address
            nameUser = response.data.name
            iduser = response.data._id
        })

    axios.get("/api/dis")
        .then((response) => {
            const selectedOption = response.data;

            placeOrderButton.addEventListener("click", () => {
                axios.post('/api/orders', { cart: productsWithoutImages, distributionHub: selectedOption[0]._id,nameHub:selectedOption[0].name, iduser: iduser, address: address, name: nameUser }, {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(function (response) {
                        alert("Order placed successfully!");
                        localStorage.removeItem("cart");
                    })
                    .catch(function (error) {
                        console.log(error)
                        alert(error.response.data.message);
                        location.href ="/login"
                    });
            });
        })
        .catch((error) => {
            alert(error)
        });
</script>