<!DOCTYPE html>
<html>
  <head>
    <title>Login - Vendor</title>
  </head>
  <body>
    <h1>Login - Vendor</h1>
    {{#if message}}
      <div class="{{message}}">{{message}}</div>
    {{/if}}
    <form method="POST" action="/vendor/login">
      <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
      </div>
      <div>
        <input type="submit" value="Login">
      </div>
    </form>
  </body>
</html>