<main>
  <div class="container-fluid" style="padding: 0;">
    <div class="d-flex justify-content-center align-items-center" style="height: 15vh; background-color: #034266;">
      <div class="text-white text-center display-1">Create Account</div>
    </div>
  </div>

  <div class="container"  style="justify-content: center;">
    <div class="white-div d-flex align-items-center justify-content-center">
      <div class="row">
        <p>{{message}}</p>

        <div class="col">
          <div class="justify-content-center d-flex">
            <img id="preview-image" src="/image/no-image.png" alt="Preview Image" style="max-width: 50%; height: auto;">
          </div>
          <h3 class="text-center">Your image</h3>
          <form method="POST" action="/customer/register" enctype="multipart/form-data">
            <div class="form-group m-2">
              <input type="file" class="form-control" id="input-image" name="profilePicture" placeholder="avatar">
            </div>
            <div class="form-group m-2">
              <input type="text" class="form-control" id="input-name" name="username" placeholder="username">
            </div>
            <div class="form-group m-2">
              <input type="password" class="form-control" id="input-password" placeholder="Password" name="password">
            </div>
            <div class="form-group m-2">
              <input type="password" class="form-control" id="input-password2" placeholder="Re enter password">
            </div>
            <div class="form-group m-2">
              <input type="text" class="form-control" id="input-user" placeholder="Name" name="name">
            </div>
            <div class="form-group m-2">
              <input type="text" class="form-control" id="input-address" placeholder="Address" name="address">
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <button style="width:70%; background-color:#DE4F11; color: white;" type="submit"
                class="btn rounded-pill">NEXT</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    const imageInput = document.getElementById("input-image");
    const imagePreview = document.getElementById("preview-image");

    imageInput.addEventListener("change", function (event) {
      const file = event.target.files[0];

      if (file) {
        const reader = new FileReader();

        reader.onload = function (e) {
          imagePreview.src = e.target.result;
        };

        reader.readAsDataURL(file);
      } else {
        imagePreview.src = "#";
      }
    });
  </script>
  <style>
    .white-div {
      background-color: white;
      padding: 20px;
      border-radius: 5px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  </style>
y
</main>